div {
  height: 100%;
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  /* background: #f4f4fc; */
  overflow: hidden;
}

div .stars {
  z-index: -100;
  content: "o";
  background: transparent;
  box-shadow: 1744px 122px #00df9a, 134px 1321px #00df9a, 92px 859px #00df9a,
    235px 1045px #00df9a, 366px 912px #00df9a, 491px 942px #00df9a,
    14px 1831px #00df9a, 582px 476px #00df9a, 588px 1230px #00df9a,
    1520px 1343px #00df9a, 1671px 203px #00df9a, 550px 341px #00df9a,
    1491px 549px #00df9a, 558px 161px #00df9a, 896px 1823px #00df9a,
    999px 1463px #00df9a, 1557px 636px #00df9a, 1754px 1307px #00df9a,
    1682px 1494px #00df9a, 703px 1707px #00df9a, 1945px 1847px #00df9a,
    1151px 1320px #00df9a, 980px 144px #00df9a, 478px 948px #00df9a,
    109px 1762px #00df9a, 558px 255px #00df9a, 719px 1820px #00df9a,
    588px 748px #00df9a, 1899px 174px #00df9a, 841px 1771px #00df9a,
    571px 1588px #00df9a, 1155px 353px #00df9a, 1879px 1220px #00df9a,
    1782px 870px #00df9a, 407px 1238px #00df9a, 1141px 63px #00df9a,
    1147px 1097px #00df9a, 1406px 159px #00df9a, 637px 1215px #00df9a,
    694px 1114px #00df9a, 1536px 727px #00df9a, 1708px 1512px #00df9a,
    1147px 880px #00df9a, 684px 988px #00df9a, 140px 851px #00df9a,
    1565px 1788px #00df9a, 1573px 889px #00df9a, 1172px 628px #00df9a,
    1474px 1978px #00df9a, 435px 447px #00df9a, 185px 1808px #00df9a,
    620px 1560px #00df9a, 1387px 1196px #00df9a, 138px 1854px #00df9a,
    137px 1499px #00df9a, 1721px 1132px #00df9a, 10px 32px #00df9a,
    1931px 1990px #00df9a, 209px 91px #00df9a, 1876px 1795px #00df9a,
    1130px 1551px #00df9a, 284px 1848px #00df9a, 389px 1603px #00df9a,
    612px 1121px #00df9a, 825px 1926px #00df9a, 161px 344px #00df9a,
    1729px 333px #00df9a, 1037px 37px #00df9a, 844px 1085px #00df9a,
    1179px 554px #00df9a, 50px 478px #00df9a, 1864px 704px #00df9a,
    233px 723px #00df9a, 1202px 445px #00df9a, 882px 189px #00df9a,
    362px 735px #00df9a, 924px 411px #00df9a, 902px 209px #00df9a,
    104px 185px #00df9a, 1599px 1852px #00df9a, 1974px 944px #00df9a,
    438px 1164px #00df9a, 401px 1533px #00df9a, 191px 1429px #00df9a,
    251px 1034px #00df9a, 1807px 1412px #00df9a, 72px 23px #00df9a,
    1752px 1146px #00df9a, 261px 1481px #00df9a, 548px 33px #00df9a,
    710px 1204px #00df9a, 355px 1697px #00df9a, 581px 100px #00df9a,
    318px 1146px #00df9a, 929px 79px #00df9a, 999px 347px #00df9a,
    155px 292px #00df9a, 271px 677px #00df9a, 920px 1596px #00df9a,
    1736px 184px #00df9a, 1022px 1790px #00df9a, 1465px 1762px #00df9a,
    820px 526px #00df9a, 175px 37px #00df9a, 440px 746px #00df9a,
    681px 1879px #00df9a, 690px 1135px #00df9a, 1960px 1453px #00df9a,
    422px 856px #00df9a, 1217px 1232px #00df9a, 1015px 1695px #00df9a,
    1933px 492px #00df9a, 272px 448px #00df9a, 1578px 1487px #00df9a,
    437px 874px #00df9a, 947px 838px #00df9a, 1339px 867px #00df9a,
    1484px 773px #00df9a, 764px 66px #00df9a, 418px 707px #00df9a,
    192px 1909px #00df9a, 1629px 215px #00df9a, 171px 260px #00df9a,
    1180px 220px #00df9a, 488px 857px #00df9a, 593px 493px #00df9a,
    1794px 886px #00df9a, 1673px 1977px #00df9a, 905px 1193px #00df9a,
    1372px 1843px #00df9a, 1605px 908px #00df9a, 659px 181px #00df9a,
    700px 1758px #00df9a, 812px 1200px #00df9a, 1800px 1440px #00df9a,
    1858px 212px #00df9a, 628px 1026px #00df9a, 1825px 1556px #00df9a,
    1641px 1750px #00df9a, 1195px 1086px #00df9a, 1465px 558px #00df9a,
    1634px 436px #00df9a, 1354px 1831px #00df9a, 1212px 1485px #00df9a,
    1491px 994px #00df9a, 604px 1279px #00df9a, 413px 1131px #00df9a,
    1677px 1086px #00df9a, 841px 47px #00df9a, 146px 489px #00df9a,
    117px 1195px #00df9a, 67px 47px #00df9a, 883px 258px #00df9a,
    1801px 1294px #00df9a, 594px 1870px #00df9a, 649px 531px #00df9a,
    721px 132px #00df9a, 975px 1616px #00df9a, 716px 94px #00df9a,
    295px 791px #00df9a, 174px 1814px #00df9a, 1130px 298px #00df9a,
    1747px 1835px #00df9a, 605px 1521px #00df9a, 78px 743px #00df9a,
    1685px 311px #00df9a, 804px 341px #00df9a, 1440px 852px #00df9a,
    1607px 1692px #00df9a, 698px 1112px #00df9a, 1153px 1608px #00df9a,
    539px 999px #00df9a, 262px 353px #00df9a, 457px 1246px #00df9a,
    1858px 998px #00df9a, 364px 431px #00df9a, 1907px 912px #00df9a,
    541px 916px #00df9a, 168px 1384px #00df9a, 357px 1321px #00df9a,
    1859px 1866px #00df9a, 1001px 909px #00df9a, 842px 1663px #00df9a,
    369px 1176px #00df9a, 932px 1372px #00df9a, 1606px 732px #00df9a,
    1844px 857px #00df9a, 974px 1588px #00df9a, 804px 1139px #00df9a,
    65px 1213px #00df9a, 1066px 863px #00df9a, 1991px 1734px #00df9a,
    300px 738px #00df9a, 1260px 1141px #00df9a, 83px 260px #00df9a,
    1219px 167px #00df9a, 613px 990px #00df9a, 873px 81px #00df9a,
    362px 235px #00df9a, 373px 372px #00df9a, 80px 247px #00df9a,
    902px 1141px #00df9a, 294px 464px #00df9a, 766px 1925px #00df9a,
    1151px 1305px #00df9a, 1250px 1593px #00df9a, 1289px 119px #00df9a,
    1525px 1505px #00df9a, 234px 1306px #00df9a, 571px 858px #00df9a,
    571px 996px #00df9a, 766px 1342px #00df9a, 1371px 716px #00df9a,
    711px 1939px #00df9a, 904px 1797px #00df9a, 424px 1710px #00df9a,
    762px 1614px #00df9a, 1389px 1290px #00df9a, 905px 689px #00df9a,
    352px 38px #00df9a, 2000px 1317px #00df9a, 597px 864px #00df9a,
    824px 711px #00df9a, 966px 1060px #00df9a, 958px 992px #00df9a,
    1121px 324px #00df9a, 1624px 688px #00df9a, 1737px 702px #00df9a,
    1566px 1344px #00df9a, 697px 368px #00df9a, 291px 1126px #00df9a,
    1732px 50px #00df9a, 712px 1941px #00df9a, 1257px 372px #00df9a,
    317px 1462px #00df9a, 222px 309px #00df9a, 1139px 647px #00df9a,
    170px 878px #00df9a, 1272px 1511px #00df9a, 1009px 1912px #00df9a,
    1875px 1105px #00df9a, 1968px 1370px #00df9a, 1193px 687px #00df9a,
    1498px 611px #00df9a, 247px 1993px #00df9a, 1686px 1611px #00df9a,
    937px 340px #00df9a, 114px 1423px #00df9a, 496px 1191px #00df9a,
    110px 1284px #00df9a, 876px 687px #00df9a, 1173px 214px #00df9a,
    210px 628px #00df9a, 302px 1173px #00df9a, 1318px 939px #00df9a,
    1665px 1310px #00df9a, 66px 338px #00df9a, 1355px 615px #00df9a,
    1139px 1672px #00df9a, 91px 1000px #00df9a, 112px 422px #00df9a,
    89px 503px #00df9a, 97px 1599px #00df9a, 1031px 1955px #00df9a,
    1755px 1532px #00df9a, 1764px 1930px #00df9a, 1822px 1751px #00df9a,
    133px 401px #00df9a, 718px 85px #00df9a, 1797px 78px #00df9a,
    520px 1725px #00df9a, 226px 406px #00df9a, 1561px 1574px #00df9a,
    340px 1602px #00df9a, 718px 976px #00df9a, 1823px 570px #00df9a,
    1298px 484px #00df9a, 1023px 1903px #00df9a, 1266px 1334px #00df9a,
    763px 877px #00df9a, 223px 631px #00df9a, 1761px 1293px #00df9a,
    878px 1px #00df9a, 973px 696px #00df9a, 975px 1841px #00df9a,
    1276px 302px #00df9a, 1399px 1324px #00df9a, 1706px 872px #00df9a,
    341px 1960px #00df9a, 1384px 1655px #00df9a, 1897px 767px #00df9a,
    68px 405px #00df9a, 705px 310px #00df9a, 194px 103px #00df9a,
    1432px 368px #00df9a, 1262px 1682px #00df9a, 1933px 1526px #00df9a,
    263px 655px #00df9a, 1031px 1031px #00df9a, 1557px 788px #00df9a,
    1558px 1360px #00df9a, 812px 421px #00df9a, 1951px 734px #00df9a,
    1567px 498px #00df9a, 1832px 1229px #00df9a, 913px 164px #00df9a,
    1907px 1273px #00df9a, 533px 749px #00df9a, 1235px 951px #00df9a,
    645px 1959px #00df9a, 92px 1570px #00df9a, 1169px 1434px #00df9a,
    118px 1223px #00df9a, 583px 957px #00df9a, 1245px 316px #00df9a,
    527px 863px #00df9a, 372px 1007px #00df9a, 244px 1251px #00df9a,
    314px 494px #00df9a, 1842px 1463px #00df9a, 1315px 730px #00df9a,
    1655px 1366px #00df9a, 482px 979px #00df9a, 340px 1808px #00df9a,
    256px 578px #00df9a, 858px 1792px #00df9a, 1965px 403px #00df9a,
    454px 253px #00df9a, 1664px 698px #00df9a, 1974px 750px #00df9a,
    262px 1801px #00df9a, 1652px 1076px #00df9a, 992px 711px #00df9a,
    1792px 1323px #00df9a, 700px 1748px #00df9a, 855px 966px #00df9a,
    1833px 1747px #00df9a, 402px 1272px #00df9a, 1391px 1039px #00df9a,
    1395px 1538px #00df9a, 397px 1972px #00df9a, 744px 1403px #00df9a,
    1784px 1046px #00df9a, 111px 198px #00df9a, 1827px 473px #00df9a,
    1347px 1891px #00df9a, 1238px 1081px #00df9a, 189px 908px #00df9a,
    1513px 542px #00df9a, 673px 981px #00df9a, 720px 1184px #00df9a,
    373px 792px #00df9a, 1470px 1631px #00df9a, 16px 822px #00df9a,
    1935px 829px #00df9a, 364px 613px #00df9a, 223px 899px #00df9a,
    1233px 874px #00df9a, 1441px 1834px #00df9a, 719px 894px #00df9a,
    76px 1610px #00df9a, 296px 685px #00df9a, 572px 1637px #00df9a,
    349px 114px #00df9a, 1670px 1802px #00df9a, 979px 928px #00df9a,
    1589px 574px #00df9a, 756px 194px #00df9a, 616px 507px #00df9a,
    271px 186px #00df9a, 198px 360px #00df9a, 1916px 418px #00df9a,
    721px 667px #00df9a, 1937px 1908px #00df9a, 17px 556px #00df9a,
    345px 443px #00df9a, 718px 760px #00df9a, 1922px 310px #00df9a,
    1185px 887px #00df9a, 1745px 1848px #00df9a, 909px 847px #00df9a,
    1170px 134px #00df9a, 1773px 1133px #00df9a, 1099px 233px #00df9a,
    1122px 1524px #00df9a, 866px 907px #00df9a, 398px 213px #00df9a,
    1287px 886px #00df9a, 1194px 149px #00df9a, 1876px 1667px #00df9a,
    332px 1658px #00df9a, 146px 1253px #00df9a, 958px 211px #00df9a,
    643px 47px #00df9a, 1213px 1339px #00df9a, 1637px 1939px #00df9a,
    1601px 355px #00df9a, 256px 1982px #00df9a, 989px 1609px #00df9a,
    1179px 701px #00df9a, 685px 1463px #00df9a, 1910px 465px #00df9a,
    764px 1930px #00df9a, 1856px 433px #00df9a, 720px 367px #00df9a,
    1821px 416px #00df9a, 48px 1114px #00df9a, 716px 489px #00df9a,
    174px 1972px #00df9a, 115px 1373px #00df9a, 1487px 141px #00df9a,
    1919px 1362px #00df9a, 1662px 859px #00df9a, 1168px 490px #00df9a,
    706px 1820px #00df9a, 588px 318px #00df9a, 107px 778px #00df9a,
    621px 1667px #00df9a, 1331px 1996px #00df9a, 1404px 1154px #00df9a,
    860px 1019px #00df9a, 1385px 1883px #00df9a, 1066px 1951px #00df9a,
    752px 444px #00df9a, 955px 1031px #00df9a, 1256px 1899px #00df9a,
    961px 1455px #00df9a, 1101px 84px #00df9a, 890px 335px #00df9a,
    798px 40px #00df9a, 138px 54px #00df9a, 1934px 252px #00df9a,
    429px 324px #00df9a, 1645px 1522px #00df9a, 218px 737px #00df9a,
    1625px 531px #00df9a, 605px 1290px #00df9a, 1867px 648px #00df9a,
    82px 1137px #00df9a, 231px 1423px #00df9a, 471px 944px #00df9a,
    1363px 1752px #00df9a, 482px 1364px #00df9a, 1305px 627px #00df9a,
    1065px 891px #00df9a, 217px 1841px #00df9a, 1843px 1501px #00df9a,
    1681px 734px #00df9a, 185px 856px #00df9a, 609px 1094px #00df9a,
    49px 1657px #00df9a, 783px 594px #00df9a, 1018px 1123px #00df9a,
    644px 1149px #00df9a, 739px 1262px #00df9a, 1439px 1187px #00df9a,
    1789px 1507px #00df9a, 941px 791px #00df9a, 1319px 1308px #00df9a,
    498px 626px #00df9a, 1594px 858px #00df9a, 783px 71px #00df9a,
    576px 1976px #00df9a, 1625px 696px #00df9a, 1821px 352px #00df9a,
    1039px 885px #00df9a, 208px 430px #00df9a, 124px 198px #00df9a,
    1964px 686px #00df9a, 1440px 1952px #00df9a, 231px 1435px #00df9a,
    1846px 853px #00df9a, 1174px 536px #00df9a, 1228px 310px #00df9a,
    1380px 699px #00df9a, 1116px 169px #00df9a, 1416px 1007px #00df9a,
    178px 192px #00df9a, 1302px 1903px #00df9a, 1892px 154px #00df9a,
    962px 1032px #00df9a, 1009px 1916px #00df9a, 1549px 1206px #00df9a,
    899px 968px #00df9a, 902px 543px #00df9a, 1516px 542px #00df9a,
    965px 527px #00df9a, 1594px 696px #00df9a, 856px 1719px #00df9a,
    1522px 248px #00df9a, 1795px 283px #00df9a, 1144px 946px #00df9a,
    1365px 199px #00df9a, 359px 1347px #00df9a, 1506px 263px #00df9a,
    433px 1793px #00df9a, 201px 247px #00df9a, 942px 838px #00df9a,
    1122px 1065px #00df9a, 1997px 108px #00df9a, 306px 989px #00df9a,
    641px 1713px #00df9a, 1072px 959px #00df9a, 1874px 1079px #00df9a,
    1938px 269px #00df9a, 891px 389px #00df9a, 22px 574px #00df9a,
    727px 474px #00df9a, 1671px 1649px #00df9a, 98px 400px #00df9a,
    641px 798px #00df9a, 1218px 1051px #00df9a, 907px 1485px #00df9a,
    1002px 1549px #00df9a, 1932px 1448px #00df9a, 1132px 573px #00df9a,
    1222px 1147px #00df9a, 1009px 451px #00df9a, 698px 1940px #00df9a,
    97px 1123px #00df9a, 904px 751px #00df9a, 1904px 593px #00df9a,
    1451px 1658px #00df9a, 191px 1606px #00df9a, 1346px 482px #00df9a,
    1935px 1086px #00df9a, 1052px 224px #00df9a, 526px 1810px #00df9a,
    1607px 606px #00df9a, 427px 1830px #00df9a, 1546px 407px #00df9a,
    1771px 208px #00df9a, 1714px 181px #00df9a, 1332px 943px #00df9a,
    1663px 1094px #00df9a, 1861px 1747px #00df9a, 1429px 1217px #00df9a,
    1733px 1915px #00df9a, 925px 1179px #00df9a, 735px 781px #00df9a,
    1775px 1989px #00df9a, 1770px 476px #00df9a, 844px 400px #00df9a,
    1793px 1517px #00df9a, 544px 281px #00df9a, 725px 344px #00df9a,
    1274px 764px #00df9a, 1845px 339px #00df9a, 582px 1745px #00df9a,
    351px 1287px #00df9a, 207px 749px #00df9a, 1063px 1411px #00df9a,
    1246px 342px #00df9a, 1538px 166px #00df9a, 770px 602px #00df9a,
    1214px 1971px #00df9a, 113px 294px #00df9a, 1157px 101px #00df9a,
    1657px 517px #00df9a, 637px 1693px #00df9a, 961px 1649px #00df9a,
    1754px 1572px #00df9a, 1885px 659px #00df9a, 238px 34px #00df9a,
    413px 1027px #00df9a, 1709px 1556px #00df9a, 460px 878px #00df9a,
    1597px 608px #00df9a, 544px 434px #00df9a, 1258px 477px #00df9a,
    565px 1863px #00df9a, 426px 322px #00df9a, 1917px 850px #00df9a,
    296px 144px #00df9a, 643px 1896px #00df9a, 511px 116px #00df9a,
    359px 847px #00df9a, 702px 1133px #00df9a, 857px 1371px #00df9a,
    559px 1758px #00df9a, 1615px 1223px #00df9a, 1927px 1736px #00df9a,
    704px 941px #00df9a, 1932px 942px #00df9a, 1462px 335px #00df9a,
    154px 1915px #00df9a, 1387px 918px #00df9a, 1512px 1041px #00df9a,
    1094px 1334px #00df9a, 1678px 865px #00df9a, 1960px 431px #00df9a,
    666px 1258px #00df9a, 422px 1215px #00df9a, 345px 802px #00df9a,
    1207px 647px #00df9a, 1701px 374px #00df9a, 1440px 1925px #00df9a,
    1536px 1163px #00df9a, 905px 155px #00df9a, 843px 1036px #00df9a,
    660px 823px #00df9a, 1329px 661px #00df9a, 1867px 899px #00df9a,
    1022px 514px #00df9a, 1062px 1570px #00df9a, 888px 1786px #00df9a,
    699px 1738px #00df9a, 1831px 1712px #00df9a, 434px 18px #00df9a,
    227px 205px #00df9a, 520px 1279px #00df9a, 1329px 764px #00df9a,
    1824px 47px #00df9a, 112px 266px #00df9a, 830px 1140px #00df9a,
    478px 637px #00df9a, 634px 850px #00df9a, 711px 873px #00df9a,
    987px 249px #00df9a, 1454px 909px #00df9a, 699px 922px #00df9a,
    1458px 1142px #00df9a, 701px 1893px #00df9a, 134px 384px #00df9a,
    904px 354px #00df9a, 1913px 1229px #00df9a, 1606px 1336px #00df9a,
    976px 1776px #00df9a, 1726px 605px #00df9a, 1244px 590px #00df9a,
    1351px 526px #00df9a, 1997px 130px #00df9a, 1137px 1134px #00df9a,
    1293px 283px #00df9a, 977px 1608px #00df9a, 422px 1252px #00df9a,
    236px 1653px #00df9a, 28px 1722px #00df9a, 698px 39px #00df9a,
    5px 434px #00df9a, 1430px 1466px #00df9a, 1470px 1596px #00df9a,
    487px 81px #00df9a, 186px 340px #00df9a, 1941px 1px #00df9a,
    1342px 487px #00df9a, 813px 1855px #00df9a, 1445px 148px #00df9a,
    1965px 1428px #00df9a, 1122px 1277px #00df9a, 846px 820px #00df9a,
    1804px 228px #00df9a, 1501px 121px #00df9a, 215px 1033px #00df9a,
    244px 426px #00df9a, 976px 453px #00df9a, 566px 953px #00df9a,
    1772px 213px #00df9a, 1323px 1778px #00df9a, 1350px 817px #00df9a,
    803px 913px #00df9a, 1395px 1359px #00df9a, 1995px 119px #00df9a,
    579px 1963px #00df9a, 862px 1621px #00df9a, 1718px 825px #00df9a,
    823px 27px #00df9a, 1252px 41px #00df9a, 1562px 835px #00df9a,
    1730px 633px #00df9a, 1723px 1939px #00df9a, 524px 1824px #00df9a,
    1921px 1450px #00df9a, 1174px 1062px #00df9a, 1008px 1932px #00df9a,
    467px 334px #00df9a, 80px 818px #00df9a, 1266px 1185px #00df9a,
    1589px 807px #00df9a, 1221px 320px #00df9a, 1724px 852px #00df9a,
    1194px 286px #00df9a, 800px 1835px #00df9a, 1958px 728px #00df9a,
    1271px 376px #00df9a, 43px 1654px #00df9a, 77px 803px #00df9a,
    1399px 197px #00df9a, 591px 1743px #00df9a, 652px 1925px #00df9a,
    107px 1939px #00df9a, 1110px 1708px #00df9a, 797px 1480px #00df9a,
    1516px 684px #00df9a, 559px 1733px #00df9a, 1265px 718px #00df9a,
    1263px 54px #00df9a, 693px 113px #00df9a, 1456px 1459px #00df9a,
    1527px 1324px #00df9a;
  animation: animStar 50s linear infinite;
}
.stars:after {
  z-index: -100;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1744px 122px #00df9a, 134px 1321px #00df9a, 92px 859px #00df9a,
    235px 1045px #00df9a, 366px 912px #00df9a, 491px 942px #00df9a,
    14px 1831px #00df9a, 582px 476px #00df9a, 588px 1230px #00df9a,
    1520px 1343px #00df9a, 1671px 203px #00df9a, 550px 341px #00df9a,
    1491px 549px #00df9a, 558px 161px #00df9a, 896px 1823px #00df9a,
    999px 1463px #00df9a, 1557px 636px #00df9a, 1754px 1307px #00df9a,
    1682px 1494px #00df9a, 703px 1707px #00df9a, 1945px 1847px #00df9a,
    1151px 1320px #00df9a, 980px 144px #00df9a, 478px 948px #00df9a,
    109px 1762px #00df9a, 558px 255px #00df9a, 719px 1820px #00df9a,
    588px 748px #00df9a, 1899px 174px #00df9a, 841px 1771px #00df9a,
    571px 1588px #00df9a, 1155px 353px #00df9a, 1879px 1220px #00df9a,
    1782px 870px #00df9a, 407px 1238px #00df9a, 1141px 63px #00df9a,
    1147px 1097px #00df9a, 1406px 159px #00df9a, 637px 1215px #00df9a,
    694px 1114px #00df9a, 1536px 727px #00df9a, 1708px 1512px #00df9a,
    1147px 880px #00df9a, 684px 988px #00df9a, 140px 851px #00df9a,
    1565px 1788px #00df9a, 1573px 889px #00df9a, 1172px 628px #00df9a,
    1474px 1978px #00df9a, 435px 447px #00df9a, 185px 1808px #00df9a,
    620px 1560px #00df9a, 1387px 1196px #00df9a, 138px 1854px #00df9a,
    137px 1499px #00df9a, 1721px 1132px #00df9a, 10px 32px #00df9a,
    1931px 1990px #00df9a, 209px 91px #00df9a, 1876px 1795px #00df9a,
    1130px 1551px #00df9a, 284px 1848px #00df9a, 389px 1603px #00df9a,
    612px 1121px #00df9a, 825px 1926px #00df9a, 161px 344px #00df9a,
    1729px 333px #00df9a, 1037px 37px #00df9a, 844px 1085px #00df9a,
    1179px 554px #00df9a, 50px 478px #00df9a, 1864px 704px #00df9a,
    233px 723px #00df9a, 1202px 445px #00df9a, 882px 189px #00df9a,
    362px 735px #00df9a, 924px 411px #00df9a, 902px 209px #00df9a,
    104px 185px #00df9a, 1599px 1852px #00df9a, 1974px 944px #00df9a,
    438px 1164px #00df9a, 401px 1533px #00df9a, 191px 1429px #00df9a,
    251px 1034px #00df9a, 1807px 1412px #00df9a, 72px 23px #00df9a,
    1752px 1146px #00df9a, 261px 1481px #00df9a, 548px 33px #00df9a,
    710px 1204px #00df9a, 355px 1697px #00df9a, 581px 100px #00df9a,
    318px 1146px #00df9a, 929px 79px #00df9a, 999px 347px #00df9a,
    155px 292px #00df9a, 271px 677px #00df9a, 920px 1596px #00df9a,
    1736px 184px #00df9a, 1022px 1790px #00df9a, 1465px 1762px #00df9a,
    820px 526px #00df9a, 175px 37px #00df9a, 440px 746px #00df9a,
    681px 1879px #00df9a, 690px 1135px #00df9a, 1960px 1453px #00df9a,
    422px 856px #00df9a, 1217px 1232px #00df9a, 1015px 1695px #00df9a,
    1933px 492px #00df9a, 272px 448px #00df9a, 1578px 1487px #00df9a,
    437px 874px #00df9a, 947px 838px #00df9a, 1339px 867px #00df9a,
    1484px 773px #00df9a, 764px 66px #00df9a, 418px 707px #00df9a,
    192px 1909px #00df9a, 1629px 215px #00df9a, 171px 260px #00df9a,
    1180px 220px #00df9a, 488px 857px #00df9a, 593px 493px #00df9a,
    1794px 886px #00df9a, 1673px 1977px #00df9a, 905px 1193px #00df9a,
    1372px 1843px #00df9a, 1605px 908px #00df9a, 659px 181px #00df9a,
    700px 1758px #00df9a, 812px 1200px #00df9a, 1800px 1440px #00df9a,
    1858px 212px #00df9a, 628px 1026px #00df9a, 1825px 1556px #00df9a,
    1641px 1750px #00df9a, 1195px 1086px #00df9a, 1465px 558px #00df9a,
    1634px 436px #00df9a, 1354px 1831px #00df9a, 1212px 1485px #00df9a,
    1491px 994px #00df9a, 604px 1279px #00df9a, 413px 1131px #00df9a,
    1677px 1086px #00df9a, 841px 47px #00df9a, 146px 489px #00df9a,
    117px 1195px #00df9a, 67px 47px #00df9a, 883px 258px #00df9a,
    1801px 1294px #00df9a, 594px 1870px #00df9a, 649px 531px #00df9a,
    721px 132px #00df9a, 975px 1616px #00df9a, 716px 94px #00df9a,
    295px 791px #00df9a, 174px 1814px #00df9a, 1130px 298px #00df9a,
    1747px 1835px #00df9a, 605px 1521px #00df9a, 78px 743px #00df9a,
    1685px 311px #00df9a, 804px 341px #00df9a, 1440px 852px #00df9a,
    1607px 1692px #00df9a, 698px 1112px #00df9a, 1153px 1608px #00df9a,
    539px 999px #00df9a, 262px 353px #00df9a, 457px 1246px #00df9a,
    1858px 998px #00df9a, 364px 431px #00df9a, 1907px 912px #00df9a,
    541px 916px #00df9a, 168px 1384px #00df9a, 357px 1321px #00df9a,
    1859px 1866px #00df9a, 1001px 909px #00df9a, 842px 1663px #00df9a,
    369px 1176px #00df9a, 932px 1372px #00df9a, 1606px 732px #00df9a,
    1844px 857px #00df9a, 974px 1588px #00df9a, 804px 1139px #00df9a,
    65px 1213px #00df9a, 1066px 863px #00df9a, 1991px 1734px #00df9a,
    300px 738px #00df9a, 1260px 1141px #00df9a, 83px 260px #00df9a,
    1219px 167px #00df9a, 613px 990px #00df9a, 873px 81px #00df9a,
    362px 235px #00df9a, 373px 372px #00df9a, 80px 247px #00df9a,
    902px 1141px #00df9a, 294px 464px #00df9a, 766px 1925px #00df9a,
    1151px 1305px #00df9a, 1250px 1593px #00df9a, 1289px 119px #00df9a,
    1525px 1505px #00df9a, 234px 1306px #00df9a, 571px 858px #00df9a,
    571px 996px #00df9a, 766px 1342px #00df9a, 1371px 716px #00df9a,
    711px 1939px #00df9a, 904px 1797px #00df9a, 424px 1710px #00df9a,
    762px 1614px #00df9a, 1389px 1290px #00df9a, 905px 689px #00df9a,
    352px 38px #00df9a, 2000px 1317px #00df9a, 597px 864px #00df9a,
    824px 711px #00df9a, 966px 1060px #00df9a, 958px 992px #00df9a,
    1121px 324px #00df9a, 1624px 688px #00df9a, 1737px 702px #00df9a,
    1566px 1344px #00df9a, 697px 368px #00df9a, 291px 1126px #00df9a,
    1732px 50px #00df9a, 712px 1941px #00df9a, 1257px 372px #00df9a,
    317px 1462px #00df9a, 222px 309px #00df9a, 1139px 647px #00df9a,
    170px 878px #00df9a, 1272px 1511px #00df9a, 1009px 1912px #00df9a,
    1875px 1105px #00df9a, 1968px 1370px #00df9a, 1193px 687px #00df9a,
    1498px 611px #00df9a, 247px 1993px #00df9a, 1686px 1611px #00df9a,
    937px 340px #00df9a, 114px 1423px #00df9a, 496px 1191px #00df9a,
    110px 1284px #00df9a, 876px 687px #00df9a, 1173px 214px #00df9a,
    210px 628px #00df9a, 302px 1173px #00df9a, 1318px 939px #00df9a,
    1665px 1310px #00df9a, 66px 338px #00df9a, 1355px 615px #00df9a,
    1139px 1672px #00df9a, 91px 1000px #00df9a, 112px 422px #00df9a,
    89px 503px #00df9a, 97px 1599px #00df9a, 1031px 1955px #00df9a,
    1755px 1532px #00df9a, 1764px 1930px #00df9a, 1822px 1751px #00df9a,
    133px 401px #00df9a, 718px 85px #00df9a, 1797px 78px #00df9a,
    520px 1725px #00df9a, 226px 406px #00df9a, 1561px 1574px #00df9a,
    340px 1602px #00df9a, 718px 976px #00df9a, 1823px 570px #00df9a,
    1298px 484px #00df9a, 1023px 1903px #00df9a, 1266px 1334px #00df9a,
    763px 877px #00df9a, 223px 631px #00df9a, 1761px 1293px #00df9a,
    878px 1px #00df9a, 973px 696px #00df9a, 975px 1841px #00df9a,
    1276px 302px #00df9a, 1399px 1324px #00df9a, 1706px 872px #00df9a,
    341px 1960px #00df9a, 1384px 1655px #00df9a, 1897px 767px #00df9a,
    68px 405px #00df9a, 705px 310px #00df9a, 194px 103px #00df9a,
    1432px 368px #00df9a, 1262px 1682px #00df9a, 1933px 1526px #00df9a,
    263px 655px #00df9a, 1031px 1031px #00df9a, 1557px 788px #00df9a,
    1558px 1360px #00df9a, 812px 421px #00df9a, 1951px 734px #00df9a,
    1567px 498px #00df9a, 1832px 1229px #00df9a, 913px 164px #00df9a,
    1907px 1273px #00df9a, 533px 749px #00df9a, 1235px 951px #00df9a,
    645px 1959px #00df9a, 92px 1570px #00df9a, 1169px 1434px #00df9a,
    118px 1223px #00df9a, 583px 957px #00df9a, 1245px 316px #00df9a,
    527px 863px #00df9a, 372px 1007px #00df9a, 244px 1251px #00df9a,
    314px 494px #00df9a, 1842px 1463px #00df9a, 1315px 730px #00df9a,
    1655px 1366px #00df9a, 482px 979px #00df9a, 340px 1808px #00df9a,
    256px 578px #00df9a, 858px 1792px #00df9a, 1965px 403px #00df9a,
    454px 253px #00df9a, 1664px 698px #00df9a, 1974px 750px #00df9a,
    262px 1801px #00df9a, 1652px 1076px #00df9a, 992px 711px #00df9a,
    1792px 1323px #00df9a, 700px 1748px #00df9a, 855px 966px #00df9a,
    1833px 1747px #00df9a, 402px 1272px #00df9a, 1391px 1039px #00df9a,
    1395px 1538px #00df9a, 397px 1972px #00df9a, 744px 1403px #00df9a,
    1784px 1046px #00df9a, 111px 198px #00df9a, 1827px 473px #00df9a,
    1347px 1891px #00df9a, 1238px 1081px #00df9a, 189px 908px #00df9a,
    1513px 542px #00df9a, 673px 981px #00df9a, 720px 1184px #00df9a,
    373px 792px #00df9a, 1470px 1631px #00df9a, 16px 822px #00df9a,
    1935px 829px #00df9a, 364px 613px #00df9a, 223px 899px #00df9a,
    1233px 874px #00df9a, 1441px 1834px #00df9a, 719px 894px #00df9a,
    76px 1610px #00df9a, 296px 685px #00df9a, 572px 1637px #00df9a,
    349px 114px #00df9a, 1670px 1802px #00df9a, 979px 928px #00df9a,
    1589px 574px #00df9a, 756px 194px #00df9a, 616px 507px #00df9a,
    271px 186px #00df9a, 198px 360px #00df9a, 1916px 418px #00df9a,
    721px 667px #00df9a, 1937px 1908px #00df9a, 17px 556px #00df9a,
    345px 443px #00df9a, 718px 760px #00df9a, 1922px 310px #00df9a,
    1185px 887px #00df9a, 1745px 1848px #00df9a, 909px 847px #00df9a,
    1170px 134px #00df9a, 1773px 1133px #00df9a, 1099px 233px #00df9a,
    1122px 1524px #00df9a, 866px 907px #00df9a, 398px 213px #00df9a,
    1287px 886px #00df9a, 1194px 149px #00df9a, 1876px 1667px #00df9a,
    332px 1658px #00df9a, 146px 1253px #00df9a, 958px 211px #00df9a,
    643px 47px #00df9a, 1213px 1339px #00df9a, 1637px 1939px #00df9a,
    1601px 355px #00df9a, 256px 1982px #00df9a, 989px 1609px #00df9a,
    1179px 701px #00df9a, 685px 1463px #00df9a, 1910px 465px #00df9a,
    764px 1930px #00df9a, 1856px 433px #00df9a, 720px 367px #00df9a,
    1821px 416px #00df9a, 48px 1114px #00df9a, 716px 489px #00df9a,
    174px 1972px #00df9a, 115px 1373px #00df9a, 1487px 141px #00df9a,
    1919px 1362px #00df9a, 1662px 859px #00df9a, 1168px 490px #00df9a,
    706px 1820px #00df9a, 588px 318px #00df9a, 107px 778px #00df9a,
    621px 1667px #00df9a, 1331px 1996px #00df9a, 1404px 1154px #00df9a,
    860px 1019px #00df9a, 1385px 1883px #00df9a, 1066px 1951px #00df9a,
    752px 444px #00df9a, 955px 1031px #00df9a, 1256px 1899px #00df9a,
    961px 1455px #00df9a, 1101px 84px #00df9a, 890px 335px #00df9a,
    798px 40px #00df9a, 138px 54px #00df9a, 1934px 252px #00df9a,
    429px 324px #00df9a, 1645px 1522px #00df9a, 218px 737px #00df9a,
    1625px 531px #00df9a, 605px 1290px #00df9a, 1867px 648px #00df9a,
    82px 1137px #00df9a, 231px 1423px #00df9a, 471px 944px #00df9a,
    1363px 1752px #00df9a, 482px 1364px #00df9a, 1305px 627px #00df9a,
    1065px 891px #00df9a, 217px 1841px #00df9a, 1843px 1501px #00df9a,
    1681px 734px #00df9a, 185px 856px #00df9a, 609px 1094px #00df9a,
    49px 1657px #00df9a, 783px 594px #00df9a, 1018px 1123px #00df9a,
    644px 1149px #00df9a, 739px 1262px #00df9a, 1439px 1187px #00df9a,
    1789px 1507px #00df9a, 941px 791px #00df9a, 1319px 1308px #00df9a,
    498px 626px #00df9a, 1594px 858px #00df9a, 783px 71px #00df9a,
    576px 1976px #00df9a, 1625px 696px #00df9a, 1821px 352px #00df9a,
    1039px 885px #00df9a, 208px 430px #00df9a, 124px 198px #00df9a,
    1964px 686px #00df9a, 1440px 1952px #00df9a, 231px 1435px #00df9a,
    1846px 853px #00df9a, 1174px 536px #00df9a, 1228px 310px #00df9a,
    1380px 699px #00df9a, 1116px 169px #00df9a, 1416px 1007px #00df9a,
    178px 192px #00df9a, 1302px 1903px #00df9a, 1892px 154px #00df9a,
    962px 1032px #00df9a, 1009px 1916px #00df9a, 1549px 1206px #00df9a,
    899px 968px #00df9a, 902px 543px #00df9a, 1516px 542px #00df9a,
    965px 527px #00df9a, 1594px 696px #00df9a, 856px 1719px #00df9a,
    1522px 248px #00df9a, 1795px 283px #00df9a, 1144px 946px #00df9a,
    1365px 199px #00df9a, 359px 1347px #00df9a, 1506px 263px #00df9a,
    433px 1793px #00df9a, 201px 247px #00df9a, 942px 838px #00df9a,
    1122px 1065px #00df9a, 1997px 108px #00df9a, 306px 989px #00df9a,
    641px 1713px #00df9a, 1072px 959px #00df9a, 1874px 1079px #00df9a,
    1938px 269px #00df9a, 891px 389px #00df9a, 22px 574px #00df9a,
    727px 474px #00df9a, 1671px 1649px #00df9a, 98px 400px #00df9a,
    641px 798px #00df9a, 1218px 1051px #00df9a, 907px 1485px #00df9a,
    1002px 1549px #00df9a, 1932px 1448px #00df9a, 1132px 573px #00df9a,
    1222px 1147px #00df9a, 1009px 451px #00df9a, 698px 1940px #00df9a,
    97px 1123px #00df9a, 904px 751px #00df9a, 1904px 593px #00df9a,
    1451px 1658px #00df9a, 191px 1606px #00df9a, 1346px 482px #00df9a,
    1935px 1086px #00df9a, 1052px 224px #00df9a, 526px 1810px #00df9a,
    1607px 606px #00df9a, 427px 1830px #00df9a, 1546px 407px #00df9a,
    1771px 208px #00df9a, 1714px 181px #00df9a, 1332px 943px #00df9a,
    1663px 1094px #00df9a, 1861px 1747px #00df9a, 1429px 1217px #00df9a,
    1733px 1915px #00df9a, 925px 1179px #00df9a, 735px 781px #00df9a,
    1775px 1989px #00df9a, 1770px 476px #00df9a, 844px 400px #00df9a,
    1793px 1517px #00df9a, 544px 281px #00df9a, 725px 344px #00df9a,
    1274px 764px #00df9a, 1845px 339px #00df9a, 582px 1745px #00df9a,
    351px 1287px #00df9a, 207px 749px #00df9a, 1063px 1411px #00df9a,
    1246px 342px #00df9a, 1538px 166px #00df9a, 770px 602px #00df9a,
    1214px 1971px #00df9a, 113px 294px #00df9a, 1157px 101px #00df9a,
    1657px 517px #00df9a, 637px 1693px #00df9a, 961px 1649px #00df9a,
    1754px 1572px #00df9a, 1885px 659px #00df9a, 238px 34px #00df9a,
    413px 1027px #00df9a, 1709px 1556px #00df9a, 460px 878px #00df9a,
    1597px 608px #00df9a, 544px 434px #00df9a, 1258px 477px #00df9a,
    565px 1863px #00df9a, 426px 322px #00df9a, 1917px 850px #00df9a,
    296px 144px #00df9a, 643px 1896px #00df9a, 511px 116px #00df9a,
    359px 847px #00df9a, 702px 1133px #00df9a, 857px 1371px #00df9a,
    559px 1758px #00df9a, 1615px 1223px #00df9a, 1927px 1736px #00df9a,
    704px 941px #00df9a, 1932px 942px #00df9a, 1462px 335px #00df9a,
    154px 1915px #00df9a, 1387px 918px #00df9a, 1512px 1041px #00df9a,
    1094px 1334px #00df9a, 1678px 865px #00df9a, 1960px 431px #00df9a,
    666px 1258px #00df9a, 422px 1215px #00df9a, 345px 802px #00df9a,
    1207px 647px #00df9a, 1701px 374px #00df9a, 1440px 1925px #00df9a,
    1536px 1163px #00df9a, 905px 155px #00df9a, 843px 1036px #00df9a,
    660px 823px #00df9a, 1329px 661px #00df9a, 1867px 899px #00df9a,
    1022px 514px #00df9a, 1062px 1570px #00df9a, 888px 1786px #00df9a,
    699px 1738px #00df9a, 1831px 1712px #00df9a, 434px 18px #00df9a,
    227px 205px #00df9a, 520px 1279px #00df9a, 1329px 764px #00df9a,
    1824px 47px #00df9a, 112px 266px #00df9a, 830px 1140px #00df9a,
    478px 637px #00df9a, 634px 850px #00df9a, 711px 873px #00df9a,
    987px 249px #00df9a, 1454px 909px #00df9a, 699px 922px #00df9a,
    1458px 1142px #00df9a, 701px 1893px #00df9a, 134px 384px #00df9a,
    904px 354px #00df9a, 1913px 1229px #00df9a, 1606px 1336px #00df9a,
    976px 1776px #00df9a, 1726px 605px #00df9a, 1244px 590px #00df9a,
    1351px 526px #00df9a, 1997px 130px #00df9a, 1137px 1134px #00df9a,
    1293px 283px #00df9a, 977px 1608px #00df9a, 422px 1252px #00df9a,
    236px 1653px #00df9a, 28px 1722px #00df9a, 698px 39px #00df9a,
    5px 434px #00df9a, 1430px 1466px #00df9a, 1470px 1596px #00df9a,
    487px 81px #00df9a, 186px 340px #00df9a, 1941px 1px #00df9a,
    1342px 487px #00df9a, 813px 1855px #00df9a, 1445px 148px #00df9a,
    1965px 1428px #00df9a, 1122px 1277px #00df9a, 846px 820px #00df9a,
    1804px 228px #00df9a, 1501px 121px #00df9a, 215px 1033px #00df9a,
    244px 426px #00df9a, 976px 453px #00df9a, 566px 953px #00df9a,
    1772px 213px #00df9a, 1323px 1778px #00df9a, 1350px 817px #00df9a,
    803px 913px #00df9a, 1395px 1359px #00df9a, 1995px 119px #00df9a,
    579px 1963px #00df9a, 862px 1621px #00df9a, 1718px 825px #00df9a,
    823px 27px #00df9a, 1252px 41px #00df9a, 1562px 835px #00df9a,
    1730px 633px #00df9a, 1723px 1939px #00df9a, 524px 1824px #00df9a,
    1921px 1450px #00df9a, 1174px 1062px #00df9a, 1008px 1932px #00df9a,
    467px 334px #00df9a, 80px 818px #00df9a, 1266px 1185px #00df9a,
    1589px 807px #00df9a, 1221px 320px #00df9a, 1724px 852px #00df9a,
    1194px 286px #00df9a, 800px 1835px #00df9a, 1958px 728px #00df9a,
    1271px 376px #00df9a, 43px 1654px #00df9a, 77px 803px #00df9a,
    1399px 197px #00df9a, 591px 1743px #00df9a, 652px 1925px #00df9a,
    107px 1939px #00df9a, 1110px 1708px #00df9a, 797px 1480px #00df9a,
    1516px 684px #00df9a, 559px 1733px #00df9a, 1265px 718px #00df9a,
    1263px 54px #00df9a, 693px 113px #00df9a, 1456px 1459px #00df9a,
    1527px 1324px #00df9a;
}

.stars2 {
  z-index: -100;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 1575px #00df9a, 893px 268px #00df9a, 1819px 666px #00df9a,
    366px 1985px #00df9a, 1736px 1062px #00df9a, 1124px 45px #00df9a,
    905px 1674px #00df9a, 1570px 711px #00df9a, 255px 1747px #00df9a,
    147px 1032px #00df9a, 865px 1813px #00df9a, 1721px 1461px #00df9a,
    202px 724px #00df9a, 1860px 812px #00df9a, 634px 1410px #00df9a,
    927px 1264px #00df9a, 1648px 620px #00df9a, 1915px 1309px #00df9a,
    731px 778px #00df9a, 91px 1185px #00df9a, 829px 1003px #00df9a,
    174px 1784px #00df9a, 1094px 1874px #00df9a, 1464px 484px #00df9a,
    1639px 1717px #00df9a, 959px 573px #00df9a, 1686px 1287px #00df9a,
    906px 356px #00df9a, 970px 499px #00df9a, 626px 890px #00df9a,
    1344px 1070px #00df9a, 1351px 544px #00df9a, 708px 68px #00df9a,
    1870px 130px #00df9a, 556px 1270px #00df9a, 1432px 618px #00df9a,
    769px 673px #00df9a, 1289px 1410px #00df9a, 1499px 1969px #00df9a,
    749px 1163px #00df9a, 1198px 198px #00df9a, 399px 133px #00df9a,
    1856px 1280px #00df9a, 904px 194px #00df9a, 973px 1107px #00df9a,
    1371px 1785px #00df9a, 989px 1835px #00df9a, 1043px 1517px #00df9a,
    787px 916px #00df9a, 1635px 1155px #00df9a, 752px 524px #00df9a,
    1926px 1279px #00df9a, 1052px 1163px #00df9a, 719px 1963px #00df9a,
    786px 519px #00df9a, 1440px 500px #00df9a, 156px 1265px #00df9a,
    1691px 429px #00df9a, 1349px 1474px #00df9a, 736px 459px #00df9a,
    248px 1678px #00df9a, 1136px 510px #00df9a, 1317px 10px #00df9a,
    1209px 1323px #00df9a, 54px 469px #00df9a, 730px 1939px #00df9a,
    960px 23px #00df9a, 112px 941px #00df9a, 1852px 1522px #00df9a,
    1993px 1972px #00df9a, 265px 129px #00df9a, 222px 1897px #00df9a,
    1766px 1804px #00df9a, 1530px 1786px #00df9a, 1045px 432px #00df9a,
    1916px 1980px #00df9a, 309px 1780px #00df9a, 1420px 559px #00df9a,
    1708px 103px #00df9a, 324px 1407px #00df9a, 1175px 943px #00df9a,
    80px 1221px #00df9a, 1016px 1933px #00df9a, 318px 560px #00df9a,
    190px 1489px #00df9a, 1095px 892px #00df9a, 1975px 1191px #00df9a,
    1197px 955px #00df9a, 1482px 873px #00df9a, 1912px 300px #00df9a,
    2000px 1636px #00df9a, 1473px 1808px #00df9a, 507px 192px #00df9a,
    924px 1300px #00df9a, 1485px 1636px #00df9a, 41px 1822px #00df9a,
    689px 120px #00df9a, 769px 273px #00df9a, 1039px 976px #00df9a,
    1057px 1520px #00df9a, 1417px 1187px #00df9a, 512px 1507px #00df9a,
    519px 45px #00df9a, 1207px 1687px #00df9a, 1824px 1488px #00df9a,
    1694px 31px #00df9a, 1859px 52px #00df9a, 1368px 268px #00df9a,
    190px 1404px #00df9a, 940px 1003px #00df9a, 167px 942px #00df9a,
    1641px 647px #00df9a, 1051px 654px #00df9a, 233px 1640px #00df9a,
    554px 511px #00df9a, 1705px 1866px #00df9a, 240px 1430px #00df9a,
    140px 668px #00df9a, 648px 1617px #00df9a, 252px 101px #00df9a,
    676px 1774px #00df9a, 889px 1698px #00df9a, 595px 853px #00df9a,
    249px 1768px #00df9a, 1091px 1529px #00df9a, 223px 839px #00df9a,
    239px 699px #00df9a, 1547px 356px #00df9a, 249px 1130px #00df9a,
    1209px 1946px #00df9a, 1967px 1274px #00df9a, 430px 298px #00df9a,
    1305px 134px #00df9a, 156px 91px #00df9a, 1712px 264px #00df9a,
    1256px 991px #00df9a, 1887px 1844px #00df9a, 1957px 1275px #00df9a,
    1718px 666px #00df9a, 1090px 543px #00df9a, 933px 1411px #00df9a,
    801px 323px #00df9a, 202px 1659px #00df9a, 1117px 549px #00df9a,
    290px 1859px #00df9a, 1380px 1516px #00df9a, 557px 1165px #00df9a,
    1953px 1758px #00df9a, 1901px 1407px #00df9a, 1144px 347px #00df9a,
    1640px 271px #00df9a, 1996px 43px #00df9a, 838px 488px #00df9a,
    1151px 1529px #00df9a, 306px 460px #00df9a, 1666px 635px #00df9a,
    1572px 633px #00df9a, 1797px 1076px #00df9a, 1727px 1119px #00df9a,
    474px 871px #00df9a, 1491px 1398px #00df9a, 1301px 868px #00df9a,
    1632px 454px #00df9a, 1611px 466px #00df9a, 498px 1162px #00df9a,
    796px 269px #00df9a, 1988px 747px #00df9a, 502px 12px #00df9a,
    276px 1260px #00df9a, 1536px 974px #00df9a, 956px 656px #00df9a,
    107px 701px #00df9a, 965px 491px #00df9a, 1646px 247px #00df9a,
    1515px 921px #00df9a, 1813px 519px #00df9a, 697px 143px #00df9a,
    591px 1452px #00df9a, 1773px 1411px #00df9a, 1622px 1401px #00df9a,
    534px 340px #00df9a, 1590px 284px #00df9a, 1464px 528px #00df9a,
    734px 1718px #00df9a, 1929px 1683px #00df9a, 656px 480px #00df9a,
    833px 705px #00df9a, 1567px 109px #00df9a, 1055px 330px #00df9a,
    1943px 1367px #00df9a, 1935px 1512px #00df9a, 355px 1024px #00df9a,
    1894px 218px #00df9a, 1703px 1772px #00df9a, 781px 1394px #00df9a,
    367px 42px #00df9a, 100px 690px #00df9a, 1831px 458px #00df9a,
    1884px 1878px #00df9a, 814px 1013px #00df9a;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  z-index: -100;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1907px 1575px #00df9a, 893px 268px #00df9a, 1819px 666px #00df9a,
    366px 1985px #00df9a, 1736px 1062px #00df9a, 1124px 45px #00df9a,
    905px 1674px #00df9a, 1570px 711px #00df9a, 255px 1747px #00df9a,
    147px 1032px #00df9a, 865px 1813px #00df9a, 1721px 1461px #00df9a,
    202px 724px #00df9a, 1860px 812px #00df9a, 634px 1410px #00df9a,
    927px 1264px #00df9a, 1648px 620px #00df9a, 1915px 1309px #00df9a,
    731px 778px #00df9a, 91px 1185px #00df9a, 829px 1003px #00df9a,
    174px 1784px #00df9a, 1094px 1874px #00df9a, 1464px 484px #00df9a,
    1639px 1717px #00df9a, 959px 573px #00df9a, 1686px 1287px #00df9a,
    906px 356px #00df9a, 970px 499px #00df9a, 626px 890px #00df9a,
    1344px 1070px #00df9a, 1351px 544px #00df9a, 708px 68px #00df9a,
    1870px 130px #00df9a, 556px 1270px #00df9a, 1432px 618px #00df9a,
    769px 673px #00df9a, 1289px 1410px #00df9a, 1499px 1969px #00df9a,
    749px 1163px #00df9a, 1198px 198px #00df9a, 399px 133px #00df9a,
    1856px 1280px #00df9a, 904px 194px #00df9a, 973px 1107px #00df9a,
    1371px 1785px #00df9a, 989px 1835px #00df9a, 1043px 1517px #00df9a,
    787px 916px #00df9a, 1635px 1155px #00df9a, 752px 524px #00df9a,
    1926px 1279px #00df9a, 1052px 1163px #00df9a, 719px 1963px #00df9a,
    786px 519px #00df9a, 1440px 500px #00df9a, 156px 1265px #00df9a,
    1691px 429px #00df9a, 1349px 1474px #00df9a, 736px 459px #00df9a,
    248px 1678px #00df9a, 1136px 510px #00df9a, 1317px 10px #00df9a,
    1209px 1323px #00df9a, 54px 469px #00df9a, 730px 1939px #00df9a,
    960px 23px #00df9a, 112px 941px #00df9a, 1852px 1522px #00df9a,
    1993px 1972px #00df9a, 265px 129px #00df9a, 222px 1897px #00df9a,
    1766px 1804px #00df9a, 1530px 1786px #00df9a, 1045px 432px #00df9a,
    1916px 1980px #00df9a, 309px 1780px #00df9a, 1420px 559px #00df9a,
    1708px 103px #00df9a, 324px 1407px #00df9a, 1175px 943px #00df9a,
    80px 1221px #00df9a, 1016px 1933px #00df9a, 318px 560px #00df9a,
    190px 1489px #00df9a, 1095px 892px #00df9a, 1975px 1191px #00df9a,
    1197px 955px #00df9a, 1482px 873px #00df9a, 1912px 300px #00df9a,
    2000px 1636px #00df9a, 1473px 1808px #00df9a, 507px 192px #00df9a,
    924px 1300px #00df9a, 1485px 1636px #00df9a, 41px 1822px #00df9a,
    689px 120px #00df9a, 769px 273px #00df9a, 1039px 976px #00df9a,
    1057px 1520px #00df9a, 1417px 1187px #00df9a, 512px 1507px #00df9a,
    519px 45px #00df9a, 1207px 1687px #00df9a, 1824px 1488px #00df9a,
    1694px 31px #00df9a, 1859px 52px #00df9a, 1368px 268px #00df9a,
    190px 1404px #00df9a, 940px 1003px #00df9a, 167px 942px #00df9a,
    1641px 647px #00df9a, 1051px 654px #00df9a, 233px 1640px #00df9a,
    554px 511px #00df9a, 1705px 1866px #00df9a, 240px 1430px #00df9a,
    140px 668px #00df9a, 648px 1617px #00df9a, 252px 101px #00df9a,
    676px 1774px #00df9a, 889px 1698px #00df9a, 595px 853px #00df9a,
    249px 1768px #00df9a, 1091px 1529px #00df9a, 223px 839px #00df9a,
    239px 699px #00df9a, 1547px 356px #00df9a, 249px 1130px #00df9a,
    1209px 1946px #00df9a, 1967px 1274px #00df9a, 430px 298px #00df9a,
    1305px 134px #00df9a, 156px 91px #00df9a, 1712px 264px #00df9a,
    1256px 991px #00df9a, 1887px 1844px #00df9a, 1957px 1275px #00df9a,
    1718px 666px #00df9a, 1090px 543px #00df9a, 933px 1411px #00df9a,
    801px 323px #00df9a, 202px 1659px #00df9a, 1117px 549px #00df9a,
    290px 1859px #00df9a, 1380px 1516px #00df9a, 557px 1165px #00df9a,
    1953px 1758px #00df9a, 1901px 1407px #00df9a, 1144px 347px #00df9a,
    1640px 271px #00df9a, 1996px 43px #00df9a, 838px 488px #00df9a,
    1151px 1529px #00df9a, 306px 460px #00df9a, 1666px 635px #00df9a,
    1572px 633px #00df9a, 1797px 1076px #00df9a, 1727px 1119px #00df9a,
    474px 871px #00df9a, 1491px 1398px #00df9a, 1301px 868px #00df9a,
    1632px 454px #00df9a, 1611px 466px #00df9a, 498px 1162px #00df9a,
    796px 269px #00df9a, 1988px 747px #00df9a, 502px 12px #00df9a,
    276px 1260px #00df9a, 1536px 974px #00df9a, 956px 656px #00df9a,
    107px 701px #00df9a, 965px 491px #00df9a, 1646px 247px #00df9a,
    1515px 921px #00df9a, 1813px 519px #00df9a, 697px 143px #00df9a,
    591px 1452px #00df9a, 1773px 1411px #00df9a, 1622px 1401px #00df9a,
    534px 340px #00df9a, 1590px 284px #00df9a, 1464px 528px #00df9a,
    734px 1718px #00df9a, 1929px 1683px #00df9a, 656px 480px #00df9a,
    833px 705px #00df9a, 1567px 109px #00df9a, 1055px 330px #00df9a,
    1943px 1367px #00df9a, 1935px 1512px #00df9a, 355px 1024px #00df9a,
    1894px 218px #00df9a, 1703px 1772px #00df9a, 781px 1394px #00df9a,
    367px 42px #00df9a, 100px 690px #00df9a, 1831px 458px #00df9a,
    1884px 1878px #00df9a, 814px 1013px #00df9a;
}

.stars3 {
  z-index: -10000;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1994px 1692px #00df9a, 961px 1928px #00df9a, 819px 1320px #00df9a,
    1899px 52px #00df9a, 28px 1937px #00df9a, 157px 88px #00df9a,
    860px 1909px #00df9a, 720px 427px #00df9a, 1319px 1469px #00df9a,
    677px 960px #00df9a, 1265px 1181px #00df9a, 1176px 1361px #00df9a,
    1957px 753px #00df9a, 1674px 1355px #00df9a, 929px 1206px #00df9a,
    1038px 898px #00df9a, 1229px 365px #00df9a, 1085px 51px #00df9a,
    851px 650px #00df9a, 385px 21px #00df9a, 41px 1153px #00df9a,
    718px 70px #00df9a, 1321px 579px #00df9a, 497px 1458px #00df9a,
    1981px 813px #00df9a, 776px 1187px #00df9a, 1345px 31px #00df9a,
    1571px 400px #00df9a, 339px 587px #00df9a, 146px 750px #00df9a,
    64px 61px #00df9a, 307px 981px #00df9a, 388px 849px #00df9a,
    1398px 936px #00df9a, 522px 765px #00df9a, 1146px 350px #00df9a,
    19px 206px #00df9a, 1767px 319px #00df9a, 1203px 425px #00df9a,
    1917px 1018px #00df9a, 91px 1401px #00df9a, 898px 697px #00df9a,
    1712px 1121px #00df9a, 633px 1119px #00df9a, 137px 1266px #00df9a,
    1006px 931px #00df9a, 1644px 1804px #00df9a, 1596px 1057px #00df9a,
    1298px 543px #00df9a, 1505px 996px #00df9a, 1972px 1383px #00df9a,
    1210px 1497px #00df9a, 804px 1840px #00df9a, 913px 1047px #00df9a,
    187px 1824px #00df9a, 1564px 1994px #00df9a, 557px 1737px #00df9a,
    508px 1609px #00df9a, 1259px 1911px #00df9a, 1294px 1381px #00df9a,
    1845px 1843px #00df9a, 667px 1497px #00df9a, 1046px 945px #00df9a,
    937px 1889px #00df9a, 982px 1806px #00df9a, 1293px 671px #00df9a,
    668px 904px #00df9a, 358px 1971px #00df9a, 133px 766px #00df9a,
    1152px 1573px #00df9a, 318px 694px #00df9a, 578px 1184px #00df9a,
    1620px 1701px #00df9a, 1359px 354px #00df9a, 1807px 1367px #00df9a,
    458px 911px #00df9a, 1387px 806px #00df9a, 523px 81px #00df9a,
    1243px 341px #00df9a, 906px 1730px #00df9a, 1629px 474px #00df9a,
    1690px 419px #00df9a, 847px 808px #00df9a, 528px 1627px #00df9a,
    480px 718px #00df9a, 537px 593px #00df9a, 1432px 1333px #00df9a,
    200px 1228px #00df9a, 1800px 1375px #00df9a, 725px 1231px #00df9a,
    1749px 1432px #00df9a, 1948px 303px #00df9a, 1889px 252px #00df9a,
    1114px 1400px #00df9a, 759px 646px #00df9a, 222px 571px #00df9a,
    1908px 1401px #00df9a, 1856px 1204px #00df9a, 338px 1645px #00df9a,
    1528px 1050px #00df9a;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  z-index: -100;
  content: "o ";
  position: absolute;
  top: 2000px;
  background: transparent;
  box-shadow: 1994px 1692px #00df9a, 961px 1928px #00df9a, 819px 1320px #00df9a,
    1899px 52px #00df9a, 28px 1937px #00df9a, 157px 88px #00df9a,
    860px 1909px #00df9a, 720px 427px #00df9a, 1319px 1469px #00df9a,
    677px 960px #00df9a, 1265px 1181px #00df9a, 1176px 1361px #00df9a,
    1957px 753px #00df9a, 1674px 1355px #00df9a, 929px 1206px #00df9a,
    1038px 898px #00df9a, 1229px 365px #00df9a, 1085px 51px #00df9a,
    851px 650px #00df9a, 385px 21px #00df9a, 41px 1153px #00df9a,
    718px 70px #00df9a, 1321px 579px #00df9a, 497px 1458px #00df9a,
    1981px 813px #00df9a, 776px 1187px #00df9a, 1345px 31px #00df9a,
    1571px 400px #00df9a, 339px 587px #00df9a, 146px 750px #00df9a,
    64px 61px #00df9a, 307px 981px #00df9a, 388px 849px #00df9a,
    1398px 936px #00df9a, 522px 765px #00df9a, 1146px 350px #00df9a,
    19px 206px #00df9a, 1767px 319px #00df9a, 1203px 425px #00df9a,
    1917px 1018px #00df9a, 91px 1401px #00df9a, 898px 697px #00df9a,
    1712px 1121px #00df9a, 633px 1119px #00df9a, 137px 1266px #00df9a,
    1006px 931px #00df9a, 1644px 1804px #00df9a, 1596px 1057px #00df9a,
    1298px 543px #00df9a, 1505px 996px #00df9a, 1972px 1383px #00df9a,
    1210px 1497px #00df9a, 804px 1840px #00df9a, 913px 1047px #00df9a,
    187px 1824px #00df9a, 1564px 1994px #00df9a, 557px 1737px #00df9a,
    508px 1609px #00df9a, 1259px 1911px #00df9a, 1294px 1381px #00df9a,
    1845px 1843px #00df9a, 667px 1497px #00df9a, 1046px 945px #00df9a,
    937px 1889px #00df9a, 982px 1806px #00df9a, 1293px 671px #00df9a,
    668px 904px #00df9a, 358px 1971px #00df9a, 133px 766px #00df9a,
    1152px 1573px #00df9a, 318px 694px #00df9a, 578px 1184px #00df9a,
    1620px 1701px #00df9a, 1359px 354px #00df9a, 1807px 1367px #00df9a,
    458px 911px #00df9a, 1387px 806px #00df9a, 523px 81px #00df9a,
    1243px 341px #00df9a, 906px 1730px #00df9a, 1629px 474px #00df9a,
    1690px 419px #00df9a, 847px 808px #00df9a, 528px 1627px #00df9a,
    480px 718px #00df9a, 537px 593px #00df9a, 1432px 1333px #00df9a,
    200px 1228px #00df9a, 1800px 1375px #00df9a, 725px 1231px #00df9a,
    1749px 1432px #00df9a, 1948px 303px #00df9a, 1889px 252px #00df9a,
    1114px 1400px #00df9a, 759px 646px #00df9a, 222px 571px #00df9a,
    1908px 1401px #00df9a, 1856px 1204px #00df9a, 338px 1645px #00df9a,
    1528px 1050px #00df9a;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
